@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1 style="font-family:'Spectral SC', serif;">Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            <a asp-area="" asp-controller="Home" asp-action="About">
                
                <img src="https://images.pexels.com/photos/159490/yale-university-landscape-universities-schools-159490.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Contoso University Gate" width="300" height="200" />
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Feel Free to Search Courses</h2>
        <p>
            <a asp-area="" asp-controller="Courses" asp-action="Index">
                <img src="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1455273634000/photosp/18cc6689-9cb5-4d66-93e5-6b1fd1a32443/stock-photo-education-learning-university-blackboard-school-collage-classroom-mathematics-success-18cc6689-9cb5-4d66-93e5-6b1fd1a32443.jpg" alt="University Class Room" width="300" height="200" />
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Or Learn about our Professors</h2>
        <p>
            <a asp-area="" asp-controller="Instructors" asp-action="Index">
            <img src="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1462120644000/photosp/eb7f5a50-1a21-4aad-86eb-0ee3459ae637/stock-photo-education-learning-university-hat-school-friends-study-college-homework-eb7f5a50-1a21-4aad-86eb-0ee3459ae637.jpg" alt="Professor and Student" width="300" height="200"/>
            </a>
        </p>
    </div>
</div>
